.goods-page {
  overflow: hidden;
  position: relative;
  .test {
    word-wrap: break-word;
    word-break: break-all;
  }
  #video-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
  }
  #my-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    .play {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 94rpx;
      height: 94rpx;
      transform: translate(-50%, -50%);
    }
    .hint-area {
      position: absolute;
      right: 20rpx;
      bottom: 260rpx;
      width: 140rpx;
      cover-view {
        margin-top: 22rpx;
      }
      .count {
        height: 60rpx;
        line-height: 40rpx;
        color: rgba(255, 255, 255, 1);
        font-size: 28rpx;
        margin-top: 18rpx;
      }
      .share,
      .star {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .share .img {
        width: 80rpx;
        height: 80rpx;
      }
      .star .img {
        width: 80rpx;
        height: 71rpx;
      }
    }
    .footer {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -30rpx;
      height: 280rpx;
      .recommond {
        height: 70rpx;
        line-height: 70rpx;
        color: #fafefe;
        font-size: 36rpx;
        text-align: left;
        box-sizing: border-box;
        padding: 0 20rpx;
      }
      .footer-main {
        height: 182rpx;
        box-sizing: border-box;
        padding: 20rpx;
        background-color: #695f5d;
        opacity: 0.8;
        color: rgba(16, 16, 16, 1);
        font-size: 228rpx;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .left {
          width: 142rpx;
          height: 142rpx;
          background-size: contain;
        }
        .middle {
          flex: 1;
          margin: 0 20rpx;
          align-self: stretch;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          .title {
            text-align: left;
            color: #f8f7f8;
            font-size: 30rpx;
            word-wrap: break-word;
            word-break: break-all;
            max-height: 70rpx;
            white-space: pre-line;
          }
          .price {
            text-align: left;
            line-height: 40rpx;
            color: #ee5f2c;
            font-size: 50rpx;
          }
        }
        .right {
          align-self: stretch;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 200rpx;
          text-align: center;
          .buy-btn {
            background: #fa329b;
            width: 100%;
            height: 85rpx;
            line-height: 85rpx;
            text-align: center;
            border-radius: 40rpx;
            font-size: 30rpx;
            color: #f8f7f8;
          }
          .buy-count {
            color: #cdd1d6;
            font-size: 25rpx;
          }
        }
      }
    }
  }
}
